<div class="container">
  <h1>{{title}}</h1>
  <div class="playingCards faceImages">
    <app-card
      *ngFor="let card of hand"
      [suit]="card.suit"
      [rank]="card.rank"
    ></app-card>
  </div>
  <hr>
  <button (click)="giveAnotherCard()" class="btn give" [disabled]="getTotalScore() >= 21">Give another card</button>
  <button (click)="startNewGame()" class="btn reset">Reset</button>
  <p><strong>Total Score:</strong> {{getTotalScore()}}</p>
  <p *ngIf="getTotalScore() === 21" class="score">You Win!</p>
  <p *ngIf="getTotalScore() > 21" class="score">You Lose!</p>
</div>

