.score {
  text-transform: uppercase;
  font-weight: bold;
}
.btn {
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.give {
  margin-right: 5px;
}
h1 {
  margin-right: 20px;
}
hr {
  margin-bottom: 20px;
  height: 3px;
  background: #333333;
  width: 50%;
}
